@import "bootstrap/bootstrap-reboot.min.css";
@import "bootstrap/bootstrap-grid.min.css";
@import "bootstrap/bootstrap.min.css";
@import "partials/colors";
@import "compass/css3";

/* Keyframes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes move-y {
  0% {
    color: $lightest;
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    color: $medium;
    opacity: 0.1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Allgemein
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  font-weight: 400;

  color: $dark;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $success;
  text-align: center;

  &:first-child {
    margin-top: 0 !important;
  }
}

h1 {
  margin-top: 4rem;
}

h2 {
  margin-top: 3.5rem;
}

h3 {
  margin-top: 3rem;
}

h4 {
  margin-top: 2.5rem;
}

h5 {
  margin-top: 2rem;
}

h6 {
  margin-top: 1.5rem;
}

p {
  color: $dark;
  text-align: left;
  margin-top: 2.5rem;
  line-height: 1.8;
  letter-spacing: 0.05;
}

a {
  color: $lightest;
  transition: .4s;
  background-color: $black;
  padding: .2rem;

  &:hover {
    color: $lighter;
    transition: .2s;
    text-decoration: none;
    border-bottom: 2px solid $lighter;
  }
}

table,
form {
  margin-top: 2.5rem;
}

tr {
  margin: 1rem 0;
}

td {
  vertical-align: middle;
  width: 50%;
  text-align: left;
  padding-bottom: 2rem;
  padding-top: 2rem;

  &:first-child {
    text-align: right;
    padding-right: 2rem;
  }

  &:last-child {
    padding-left: 2rem;
    border-left: 1px solid $lightest;
  }
}

.footer {
  * {
    text-align: center;
  }
}

/* Clients
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#clients {
  h2 {
    margin-bottom: 3.5rem;
  }

  .client,
  .project {
    color: $lightest;
    transition: 0.4s;
    background-color: $dark-light;
  }

  .project {
    background-color: $lightest;
    color: $dark-light;
  }
}

#projects {
  background-color: $dark;
}

/* Forms & inputs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control {
  border-radius: 0;
  border: 0px solid $medium;
  background-color: $dark;
  transition: 0.2s;

  &:focus {
    background-color: $dark;
    border: 1px solid $medium;
    color: $lightest;
    box-shadow: none;
  }
}

textarea.form-control {
  height: 200px;
}

button {
  margin: 2rem auto;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pure-button-primary {
  text-align: center;
}

.fuller-button-primary {
  width: 100%;
  color: $medium;
  background: none;
  border-radius: 0;
  padding: 1.2em 5em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    box-shadow: inset 0 0 0.8em $medium-transparent-50,
      0 0 0.8em $medium-transparent-50;
    border: $medium solid 2px;
  }

  &.primary:hover {
    color: $lightest;
    background-color: $medium;
    box-shadow: inset 0 0 0 $medium-transparent-50,
      0 0 1.2em $medium-transparent-50;
  }
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  padding: 0;

  text-align: center;

  color: #d3cbbd;
  background: $dark;
}

.container,
.container-fluid {
  padding: 6rem 2rem;
  min-height: 100vh;
}

.banner {
  position: relative;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;

  background-image: url("../images/banner/heic1110a.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  .banner-overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }

  h1 {
    font-size: 5rem;
    font-weight: 600;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    text-align: center;
    text-transform: none;

    span {
      font-weight: 300;
      color: $lightest;
      font-size: 1.8rem;

      text-transform: none;
    }
  }

  #scroll-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0;

    animation-name: move-y;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    &:hover {
      cursor: pointer;
      color: $medium;
    }
  }
}

/* Bootstrap customizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#about {}

/*********************************************/
/************ Cookieconsent ******************/
/*********************************************/

.cc-window {
  display: none !important;
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;

  .cc-link {
    display: none !important;
  }

  .cc-btn {
    margin-top: 2rem !important;
  }
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button_container {
  position: fixed;
  top: 4%;
  right: 4%;
  height: 1.8rem;
  width: 2rem;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
  z-index: 4000;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $lighter;
    }

    .middle {
      opacity: 0;
      background: $lighter;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $lighter;
    }
  }

  span {
    background: $medium;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $dark;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  overflow: hidden;
  z-index: 3000;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;

    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }

      &:nth-of-type(5) {
        animation-delay: 0.4s;
      }

      &:nth-of-type(6) {
        animation-delay: 0.35s;
      }
    }
  }

  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 6);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $medium;
        text-decoration: none;
        overflow: hidden;

        &:hover {
          text-decoration: none;
          border-bottom: none;
        }

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
          border-bottom: none;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $medium;
          transition: 0.35s;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  #clients,
  #projects {
    .client,
    .project {

      padding: 4rem .6rem;

      span {
        font-size: 1.4rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}


@media (max-width: 767px) {

  h1,
  .banner h1 {
    font-size: 3rem;

    span {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  table,
  tbody,
  tr,
  td {
    font-size: 1.2rem;
  }

  .container,
  .container-fluid {
    padding: 2rem 2rem;
  }

  .fuller-button {
    padding: 1.2rem 2rem;
  }

  .client,
  .project {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .overlay {
    nav {
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 420px) {

  h1,
  .banner h1 {
    font-size: 3rem;

    span {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  table,
  tbody,
  tr,
  td {
    font-size: 1.2rem;
  }

  td {
    display: block;
    width: 100%;

    &:first-child {
      border-bottom: 1px solid $white;
    }
  }

  .container,
  .container-fluid {
    padding: 2rem 2rem;
  }

  .fuller-button {
    padding: 1.2rem 2rem;
  }

  .client,
  .project {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .overlay {
    nav {
      font-size: 2rem;
    }
  }
}


.border-primary {
  border-color: $medium !important;
}
