*
{
    line-height: 1;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    width: 100px;
    height: 50px;
    margin: 20px;
}

.buttons
{
    width: 100%;

    text-align: center;
}

.container
{
    width: 100%;
    height: 100%;
}

.grid
{
    display: grid;

    grid-auto-flow: dense;
    grid-template-columns: repeat(12,1fr);
    /*grid-template-rows: repeat(12,1fr);*/
    justify-items: stretch;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.grid-col
{
    width: auto;
    height: 1px;
}

.grid-col-1-1
{
    padding: 0 0 100% 0;
}

.grid-col-span-4
{
    grid-column: span 4;
}

.grid-row-span-4
{
    grid-row: span 4;
}

.grid-col:nth-child(1)
{
    background-color: DarkViolet;
}

.grid-col:nth-child(2)
{
    background-color: Fuchsia;
}

.grid-col:nth-child(3)
{
    background-color: Gold;
}

.grid-col:nth-child(4)
{
    background-color: GreenYellow;
}

.grid-col:nth-child(5)
{
    background-color: Indigo;
}

.grid-col:nth-child(6)
{
    background-color: LightSalmon;
}

.grid-col:nth-child(7)
{
    background-color: LightSeaGreen;
}

.grid-col:nth-child(8)
{
    background-color: MidnightBlue;
}

.grid-col:nth-child(9)
{
    background-color: OrangeRed;
}

.grid-col:nth-child(10)
{
    background-color: Aqua;
}

.grid-col:nth-child(11)
{
    background-color: Crimson;
}

.grid-col:nth-child(12)
{
    background-color: Violet;
}

.grid-col:nth-child(13)
{
    background-color: Teal;
}

.grid-col:nth-child(14)
{
    background-color: Yellow;
}

.grid-col:nth-child(15)
{
    background-color: Black;
}

.visible
{
    display: inline-block;
    visibility: visible;

    transition: visibility 2s, opacity 1s linear;

    opacity: 1;
}

.invisible
{
    display: none;
}

.visuallyhidden
{
    visibility: hidden;

    transition: visibility 2s, opacity 1s linear;

    opacity: 0;
}
