/**

COLORS:
#32d4d2;
#ec3568;
#20EE82;
#FFD816;
#FF56D6;
#1c71cc;
#CC1CA1;
#15151C;
#61617f;
#C3C3FF;
#313140;
#AFAFE5;

**/

*
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    color: #fff;
}

body
{
    background-color: #15151c;
}

h1,
h2,
h3,
h4,
h5
{
    justify-content: left !important;

    padding: 45px 0 15px 0;

    border: none !important;
    background: none !important;
}

input
{
    font-family: inherit;
    font-size: 1rem;

    border: none;
    border-radius: 0;
    background-color: transparent;

    -webkit-appearance: none;
       -moz-appearance: none;
}

.search-form
{
    font-style: italic;

    width: 90%;
    margin: 0 0 0 15px;

    border-bottom: 1px solid #61617f;
}

.container
{
    display: grid;

    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 25% 25% 25%;
}

.headbar
{
    z-index: 100;

    display: grid;

    height: 80px;

    background-color: #313140;
    box-shadow: 0 3px 10px #000;

    grid-template-columns: 25% 45% auto auto auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sidebar
{
    display: grid;

    margin: 0 15px 0 0;

    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content
{
    display: grid;
    /**
    align-content: center;
    justify-content: center;
    **/

    width: 100%;
    padding: 15px;

    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 80px 100px auto auto auto;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.inner-content-item,
.sidebar-item,
.headbar-item
{
    font-size: 20px;

    display: flex;
    align-items: center;

    height: 100%;

    color: #fff;
}

.headbar,
.sidebar
{
    background-color: #1e1e31;
}

.inner-content-item
{
    justify-content: center;

    border: 5px solid #1e1e31;
    border-radius: 5px;
    background-color: #1e1e31;
}

.sidebar-item,
.headbar-item
{
    justify-content: left;
}

.main-headline
{
    grid-column-start: 1;
    grid-column-end: 3;
}

li.sidebar-item
{
    height: 100px;
    padding: 0 0 0 15px;

    border-bottom: 1px solid #61617f;
    border-left: 5px solid #000;
}

li:last-child
{
    border-bottom: none;
}

#logo
{
    padding: 0 0 0 20px;
}

#box-1
{
    height: 80px;

    grid-column-start: 1;
    grid-column-end: 3;
}

#box-2
{
    height: 80px;

    grid-column-start: 3;
    grid-column-end: 5;
}

#box-3
{
    height: 80px;

    grid-column-start: 5;
    grid-column-end: 7;
}

#box-4
{
    height: 80px;

    grid-column-start: 7;
    grid-column-end: 9;
}


#box-5
{
    height: 400px;

    grid-column-start: 1;
    grid-column-end: 6;
}

#box-6
{
    height: 400px;

    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

#box-7
{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}

#table-details
{
    width: 100%;
    padding: 30px;
}

tr
{
    height: 50px;
}

tr:nth-child(even)
{
    background-color: #61617f;
}

table,
td,
th,
tr
{
    text-align: center;

    border: none;
}

#menu-active
{
    border-left: 20px solid #cc1ca1;
    background-color: #61617f;
}

#shares-submitted-icon
{
    border: 25px solid #32d4d2;
    border-radius: 50%;
}

#total-rewards-icon
{
    border: 25px solid #ec3568;
    border-radius: 50%;
}

#weekly-avarage-icon
{
    border: 25px solid #20ee82;
    border-radius: 50%;
}

#mining-streak-icon
{
    border: 25px solid #ffd816;
    border-radius: 50%;
}

.inner-content-item > span:last-child
{
    padding: 0 0 0 15px;
}


/**
.justify-items-start
{
    justify-items: start !important;
}

.justify-items-end
{
    justify-items: end !important;
}

.justify-items-center
{
    justify-items: center !important;
}

.justify-items-stretch
{
    justify-items: stretch !important;
}

.align-items-start
{
    align-items: start !important;
}
.align-items-end
{
    align-items: end !important;
}
.align-items-center
{
    align-items: center !important;
}
.align-items-stretch
{
    align-items: stretch !important;
}
**/
