/** COLORS **/

$one: #fcfbfa;
$two: #c33950;
$three: #f55d08;
$four: #80b9e6;
$five: #207ae1;
$yellow: #f1b34c;
$ultraviolet: #221a55;
$dark-red: #ae392e;
$red: #e8352e;
$green: #35c170;

$white: #fff;
$white-dark: $one;
$black: #000;
$grey: #403d3c;
// $primary: #80b9e6;
// $primary: $five;

$primary: $three;
$secondary: #585a80;
$warning: #dfde61;
$error: #ac2538;
$success: #35a468;

$primary-transparent-50: #bd4b4880;
$primary-transparent-40: #bd4b4866;
$primary-transparent-80: #bd4b48cc;