/** COLORS

#EB5937

#1C1919

#403D3C

#456F74

#D3CBBD

**/

/* Allgemein
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body
{
    font-size: 1.6rem;
    font-weight: 200;
    /*font-family: 'Cousine', monospace;*/

    color: #d3cbbd;
    background-color: #1c1919;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    /*font-family: 'Didact Gothic', sans-serif;*/
    color: #eb5937;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button
{
    border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section
{
    padding: 8rem 0 7rem;

    text-align: center;
}
.section-heading,
.section-description
{
    margin-bottom: 1.2rem;
}
.hire
{
    border: none;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner-logo
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values-1
{
    position: relative;

    margin-top: 5rem;
    margin-bottom: 5rem;

    color: #d3cbbd;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.values-1:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: 1;
    background-image: linear-gradient(to bottom right, #1c1919, #1c1919);
}
.values-2
{
    position: relative;

    padding-bottom: 5rem;

    color: #d3cbbd;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.values-2:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: 1;
    background-image: linear-gradient(to top left, #1c1919, #1c1919);
}
.value-multiplier
{
    margin-bottom: .5rem;

    color: #d3cbbd;
}
.value-heading
{
    margin-bottom: .3rem;
}
.value-description
{
    font-weight: 200;

    opacity: .8;
}

.values-3
{
    position: relative;

    padding-bottom: 5rem;

    color: #d3cbbd;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.values-3:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .6;
    background-image: linear-gradient(to bottom right, #3ab200,#09b29c );
}
.value-multiplier
{
    margin-bottom: .5rem;

    color: #d3cbbd;
}
.value-heading
{
    margin-bottom: .3rem;
}
.value-description
{
    font-weight: 200;

    opacity: .8;
}

.values-4
{
    position: relative;

    padding-bottom: 5rem;

    color: #1c1919;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.values-4:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: 1;
    background-image: linear-gradient(to bottom right, #1c1919, #1c1919);
}
.value-multiplier
{
    margin-bottom: .5rem;

    color: #1c1919;
}
.home
{
    color: #d3cbbd;
}
.value-heading
{
    margin-bottom: .3rem;
}
.value-description
{
    font-weight: 200;

    opacity: .8;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about
{
    padding: 0;

    text-align: center;

    color: #d3cbbd;
    background: #1c1919;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories
{
    color: #d3cbbd;
    background-image: url('../images/values-bg.jpg');
    background-size: cover;
}
.categories .section-description
{
    margin-bottom: 4rem;
}

.hire
{
    margin: none;
}

/* Bigger than 550 */
@media (min-width: 550px)
{
    .section
    {
        padding: 12rem 0 11rem;
    }
    .hero
    {
        height: 165px;
        padding-bottom: 12rem;

        text-align: left;
    }
    .phone
    {
        position: absolute;
        z-index: 3;
        top: -7rem;
        right: 3rem;

        max-height: 362px;
    }
    .phone + .phone
    {
        z-index: 2;
        top: -6rem;
        right: 0;

        display: block;

        max-width: 73.8%;
        max-height: 338px;
    }
    .hero-heading
    {
        font-size: 2.4rem;
    }
}

/* Bigger than 750 */
@media (min-width: 750px)
{
    .hero
    {
        height: 190px;
    }
    .hero-heading
    {
        font-size: 2.8rem;
    }
    .section
    {
        padding: 14rem 0 15rem;
    }
    .hero
    {
        padding: 16rem 0 14rem;
    }
    .section-description
    {
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    .phone
    {
        top: -14rem;
        right: 5rem;

        max-height: 510px;
    }
    .phone + .phone
    {
        top: -12rem;

        max-height: 472px;
    }
    .categories
    {
        padding: 15rem 0 8rem;
    }
}

/* Bigger than 11C1919 */
@media (min-width: 11C1919px)
{
    .section
    {
        padding: 14rem 0 14rem;
    }
    .about
    {
        padding: 15rem 0 15rem;
    }
    .hero
    {
        padding: 22rem 0;
    }
    .hero-heading
    {
        font-size: 3.2rem;
    }
    .phone
    {
        top: -16rem;

        max-height: 615px;
    }
    .phone + .phone
    {
        top: -14rem;

        max-height: 570px;
    }
}

#headline
{
    /*font-family: 'Cousine', monospace;*/
    font-weight: 600;
}

a
{
    text-decoration: none;

    color: #d3cbbd;
}

a:hover
{
    color: #456f74;
}

/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#myBtn
{
    position: fixed; /* Fixed/sticky position */
    z-index: 200; /* Make sure it does not overlap */
    right: 30px; /* Place the button 30px from the right */
    bottom: 20px; /* Place the button at the bottom of the page */

    display: none; /* Hidden by default */

    padding: 15px; /* Some padding */

    cursor: pointer; /* Add a mouse pointer on hover */

    color: #1c1919; /* Text color */
    border: none; /* Remove borders */
    border-radius: 10px; /* Rounded corners */
    outline: none; /* Remove outline */
}

#myBtn:hover
{
    color: #1c1919;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar
{
    display: none;
}

/* Larger than phone */
@media (min-width: 550px)
{
    .header
    {
        margin-top: 18rem;
    }
    .value-props
    {
        margin-top: 9rem;
        margin-bottom: 7rem;
    }
    .value-img
    {
        margin-bottom: 1rem;
    }
    .example-grid .column,
    .example-grid .columns
    {
        margin-bottom: 1.5rem;
    }
    .docs-section
    {
        padding: 6rem 0;
    }
    .example-send-yourself-copy
    {
        float: right;

        margin-top: 12px;
    }
    .example-screenshot-wrapper
    {
        position: absolute;
        left: 0;

        width: 48%;
        height: 100%;
        max-height: none;
    }
}

/* Larger than tablet */
@media (min-width: 750px)
{
    /* Navbar */
    .navbar + .docs-section
    {
        border-top-width: 0;
    }
    .navbar,
    .navbar-spacer
    {
        z-index: 99;

        display: block;

        width: 100%;
        height: 6.5rem;
        margin-bottom: 6rem;

        border-top: 1px solid #d3cbbd;
        border-bottom: 1px solid #d3cbbd;
        background: #403d3c;
    }
    .navbar-spacer
    {
        display: none;
    }
    .navbar > .container
    {
        width: 100%;
    }
    .navbar-list
    {
        display: flex;
        justify-content: space-evenly;

        margin-bottom: 0;

        list-style: none;
    }
    .navbar-item
    {
        position: relative;

        float: left;

        margin-bottom: 0;
    }
    .navbar-link
    {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 6.5rem;

        margin-right: 35px;

        text-decoration: none;
        letter-spacing: .2rem;
        text-transform: uppercase;

        color: #d3cbbd;
    }
    .navbar-link.active
    {
        color: #eb5937;
    }
    .has-docked-nav .navbar
    {
        position: fixed;
        top: 0;
        left: 0;
    }
    .has-docked-nav .navbar-spacer
    {
        display: block;
    }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container
    {
        width: 80%;
    }

    /* Popover */
    .popover.open
    {
        display: block;
    }
    .popover
    {
        position: absolute;
        top: 0;
        top: 92%;
        left: 0;
        left: -50%;

        display: none;

        border: 1px solid #eee;
        border-radius: 4px;
        background: #d3cbbd;

        -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
           -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
                filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
    }
    .popover-item:first-child .popover-link:after,
    .popover-item:first-child .popover-link:before
    {
        position: absolute;
        bottom: 100%;
        left: 50%;

        width: 0;
        height: 0;

        content: ' ';
        pointer-events: none;

        border: solid transparent;
    }
    .popover-item:first-child .popover-link:after
    {
        margin-left: -10px;

        border-width: 10px;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #d3cbbd;
    }
    .popover-item:first-child .popover-link:before
    {
        margin-left: -11px;

        border-width: 11px;
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eee;
    }
    .popover-list
    {
        margin: 0;
        padding: 0;

        list-style: none;
    }
    .popover-item
    {
        margin: 0;
        padding: 0;
    }
    .popover-link
    {
        font-size: 1.2rem;
        font-weight: 600;

        position: relative;

        display: block;

        padding: 8px 20px;

        text-align: center;
        text-decoration: none;
        letter-spacing: .1rem;
        text-transform: uppercase;

        color: #222;
        border-bottom: 1px solid #eee;
    }
    .popover-item:first-child .popover-link
    {
        border-radius: 4px 4px 0 0;
    }
    .popover-item:last-child .popover-link
    {
        border-bottom-width: 0;
        border-radius: 0 0 4px 4px;
    }
    .popover-link:hover
    {
        color: #d3cbbd;
        background: #eb5937;
    }
    .popover-link:hover,
    .popover-item:first-child .popover-link:hover:after
    {
        border-bottom-color: #eb5937;
    }
}

#hire-me
{
    padding: 10rem 0 10rem;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.kundenlogo
{
    max-width: 90%;

    transition-duration: .5s;
    transform: scale(1.0);
}

.kundenlogo:hover
{
    transition-duration: .5s;
    transform: scale(1.1);
}

#bonapart.invis
{
    display: none;
}

#bonapart
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100vh;
    height: 100%;
    padding: 5rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}
#psmw.invis
{
    display: none;
}

#psmw
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding: 2rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}
#herrngarten.invis
{
    display: none;
}

#herrngarten
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding: 2rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}
#heimatstore.invis
{
    display: none;
}

#heimatstore
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding: 2rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}
#murk.invis
{
    display: none;
}

#murk
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding: 2rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}
#gehrig.invis
{
    display: none;
}

#gehrig
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding: 2rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}
#baehr.invis
{
    display: none;
}

#baehr
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding: 2rem;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;

    opacity: 1;
    background: #d3cbbd;
    background-color: #1c1919;
}

@keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}


/* Close Icon
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.close
{
    position: absolute;
    top: 10px;
    right: 10px;

    display: inline-block;
    overflow: hidden;

    width: 25px;
    height: 25px;
}
.close:hover::before,
.close:hover::after
{
    background: #1c1919;
}
.close::before,
.close::after
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;
    margin-top: -1px;

    content: '';

    background: #d3cbbd;
}
.close::before
{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.close::after
{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.close.heavy::before,
.close.heavy::after
{
    height: 6px;
    margin-top: -3px;
}

.close.pointy::Before,
.close.pointy::after
{
    left: -50%;

    width: 200%;
}

@media (min-width: 11C1919px)
{
    .client-text h4
    {
        margin-top: 40%;

        color: #d3cbbd;
    }
    .client-text h6
    {
        color: #d3cbbd;
    }
    .client-text p
    {
        padding: 1% 5% 1%;

        color: #d3cbbd;
    }
}

.client-text h4
{
    margin-top: 5%;

    color: #d3cbbd;
}
.client-text h6
{
    color: #d3cbbd;
}
.client-text p
{
    color: #d3cbbd;
}

#hithere
{
    font-size: 1.7em;
    font-weight: 600;

    margin-bottom: 25px;
}

#footer,
#footer h3
{
    color: #d3cbbd;
}

/**
HIRE ME button
**/
.btn
{
    font-size: 2rem;

    display: inline-block;

    min-width: 100px;
    margin: 0 10px 10px 0;
    padding: 15px 30px;

    transition: all .6s;
    text-align: center;
    text-decoration: none;

    color: #d3cbbd;
    border: 2px solid #d3cbbd;
}
.btn.color-1:hover
{
    color: #eb5937;
    border-color: #eb5937;
    background: #d3cbbd;
}
.btn.lg
{
    padding: 24px 48px;
}
/* Color 1 #EB5937 */
.btn.color-1
{
    color: #d3cbbd;
    border-color: #d3cbbd;
    background: #eb5937;
}

/**
HIRE ME button ende
**/


.kundenlogo:hover,
.close:hover
{
    cursor: pointer;
}

.textcolor
{
    color: #eb5937;
    /*background-image: linear-gradient(200deg,#EB5937,#445878,#d3cbbd,#EB5937,#ff00f6);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;*/
}

.client
{
    font-size: 2rem;

    margin-top: 4rem;
}
